<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532213106096-gdpt1m7t38r2384d6o4kjo118c3uabkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532213106096-gdpt1m7t38r2384d6o4kjo118c3uabkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDJU4qhF_BjeQSDi4EaEflGHwqcyJyyFio</string>
	<key>GCM_SENDER_ID</key>
	<string>532213106096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earth.dolphin</string>
	<key>PROJECT_ID</key>
	<string>cruise-1003f</string>
	<key>STORAGE_BUCKET</key>
	<string>cruise-1003f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532213106096:ios:65e32ce2eca40c1d2c4275</string>
</dict>
</plist>